@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.QuantumWaitIcon {
    display: block;
    margin: auto;
}

.icon-container {
    min-width: 50px; 
    min-height: 50px; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.hidden {
    display: none;
}